PORT=5000
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/novacart
JWT_SECRET=change-me-to-a-long-random-string
NODE_ENV=development

# The frontend URL (used for CORS and Stripe redirect URLs)
FRONTEND_URL=http://localhost:3000

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx
